{% extends "story/layout.html" %}

{% block content %}
    <h2>{{ storyboard.title }}</h2>

    <p>
        태그:
        {% for tag in tag_list %}
            <span class="badge bg-success">
                {{ tag.name }}
            </span>
        {% endfor %}
    </p>

    {{ storyboard.content|linebreaks }}

    <h3>댓글</h3>

    <ul>
        {% for comment in comment_list %}
            <li>
                {{ comment.message }}
                by {{ comment.author_name }}
                at {{ comment.created_at }}
            </li>
        {% endfor %}
    </ul>

    <hr/>
    <a href="{% url "story:storyboard_list" %}">
        다른이야기 보러가기
    </a>

{% endblock %}